* {
	margin:0;
	padding:0;
}
img {
margin: 10px; 
}

ol{
padding-left:40px;

}

li{
padding-top:2px;
padding-bottom:2px;
}

h2
{
padding-top:10px;
border-bottom:2px solid black;
margin-bottom:10px;
}  

body {
	
	font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}



#wrapper{
	position:relative;
	width:95%;
	
	margin:-20px 5px 0;
}

#wrapper h1{
	
	text-align:center;
	margin-bottom:20px;
}

#wrapper a{
	display:block;
	font-size:1.2em;
	padding-top:20px;
	
	text-decoration:none;
	text-align:left;
	
	
}

#tabContainer {
	position:relative;
	width:100%;
	padding:25px;
	height:80%;
	background-color:#FFFFFF;
	-moz-border-radius: 4px;
	border-radius: 4px;
	list-style-type:disc;
}

.tabs{
	height:30px;
	
	
}

.tabs > ul{
	font: 1em;
	
}

.tabs > ul > li{
	
	margin:0 2px 0 0;
	padding:7px 10px ;
	display:block;
	float:left;
	color:#FFF;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
	background: #C9C9C9; /* old browsers */
	background: -moz-linear-gradient(top, #0C91EC 0%, #003372 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0C91EC), color-stop(100%,#003372)); /* webkit */
	border-left:1px solid black;
}

.tabs > ul > li:hover{
 
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); /* webkit */
	cursor:pointer;
	color: #333;
}

.tabs > ul > li.tabActiveHeader{
	background: #737CA1; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #737CA1 50%, #FFFFFF 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#737CA1), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); /* webkit */
	cursor:pointer;
	color: #333;
}

.tabscontent {
 
    
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px; 
	padding:10px 10px 25px;
	
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 90%, #e4e9ed 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(90%,#FFFFFF), color-stop(100%,#e4e9ed)); /* webkit */
	margin:0;
	color:#333;
	border-left:1px solid black;
}
ul li{
padding-left:20px}

.student{
border:1px;
padding=10px 10px 10px;
align=right;
border-width: 1px;
border-spacing: 2px;
border-style: outset
}
