/* CSS Document */

body{
	height:100%;
	background-color:#FFFFFF;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
	background-size: cover;
	}

.full-body{
	position:relative;
	width:950px;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	}
.heading{
	position:relative;
	
	padding:5px 5px 5px 5px;
	background:rgba(255,2585,255,0.7);
	text-align:center;
	width:100%;
	font-size:36px;
	}
.text-class{
	float:left;
	height:555px;
	width:600px;
	border:1px solid black;
	padding:10px 10px 10px 10px;
	margin:10px 10px 10px 10px;
	overflow:auto;
	text-align:justify;
	background:white;
	}		
.button-class {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eeff00), color-stop(1, #d6d61a) );
	background:-moz-linear-gradient( center top, #eeff00 5%, #d6d61a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeff00', endColorstr='#d6d61a');
	background-color:#eeff00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #c7c7c7;
	display:inline-block;
	color:#084254;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	cursor:pointer;
}
.button-class:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d6d61a), color-stop(1, #eeff00) );
	background:-moz-linear-gradient( center top, #d6d61a 5%, #eeff00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6d61a', endColorstr='#eeff00');
	background-color:#d6d61a;
}
.button-class:active {
	position:relative;
	top:1px;
}
.list-class{
	float:left;
	height:566px;
	position:relative;
	text-align:center;
	background:rgba(255,255,255,0.1);
	margin-top:10px;
	padding:5px 5px 5px 5px;
	}
.match{
	margin:10px 10px 10px 10px;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9E9CC2), color-stop(1, #3D6BCA) );
	background:-moz-linear-gradient( center top,#9E9CC2 5%,  #3D6BCA 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9E9CC2', endColorstr='#3D6BCA');
	-moz-border-radius:23px;
	-webkit-border-radius:23px;
	border-radius:23px;
	border:1px solid #dcdcdc;
	color:#000000;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #bfaabf;
	}
.result-class{
	padding:0px;
	margin:5px 5px 5px 5px;
	margin-left:auto;
	margin-right:auto;
	height:200px;
	width:200px;
	}
.result-class tr td {
	text-align:center;
	width:100px;
	}
.list-heading{
	position:relative;
	font-size:20px;
	top:10px;
	
	}
.bg_source{
	position:absolute;
	margin-right:0px;
	margin-bottom:0px;
	display:none;
	}
.bg_source a{
	text-decoration:none;
	color:yellow;
	}
.upload{
	display:none;
	position:absolute;
	margin-top:600px;
	margin-left:10px;
	width:300px;
	height:100px;
	background-color:transparent;
	border:1px solid black;
	}
	

.bute{
	cursor:pointer;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	border:1px solid black;
	display:inline-block;
	color:#fffcff; 
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 0px 50px #9e9e9e;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	}
	
.newbute{

	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #EB3D3D), color-stop(1, #8D2525) );
	background:-moz-linear-gradient( center top, #EB3D3D 5%, #8D2525 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#B83737', endColorstr='#8D2525');
	background-color:#EB3D3D;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #CF5454;
	}	
.newbute:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8D2525), color-stop(1, #EB3D3D) );
	background:-moz-linear-gradient( center top, #8D2525 5%, #EB3D3D 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8D2525', endColorstr='#B83737');
	background-color:#EB3D3D;
}
.newbute:active {
	position:relative;
	top:1px;
}	

	